button {
  border-radius: 30px;
  padding: 1rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  font-family: "Victor Mono", monospace;
}

button:active {
  transform: scale(0.9);
}

.primary {
  border: 2px solid #333;
  background-color: #333;
  color: #f1f1f1;
}

.primary:hover {
  background-color: #f1f1f1;
  color: #333;
}

.secondary {
  background-color: #f1f1f1;
  color: #333;
}

.secondary:hover {
  background-color: #333;
  color: #f1f1f1;
}
