.card-box {
    display: flex;
    flex-direction: column;
    background-color: #f1f1f1;
    border: 4px solid #333;
    border-radius: 30px;
    padding: 2rem;
}

.card__menu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 30px;
    padding: 0.5rem;
    margin: 1rem;
    justify-content: center;
    gap: 2rem;
}

.card__padding {
    padding: 0.5rem;
}

.card__content {
    display: flex;
    font-weight: 100;
    font-size: 1rem;
    text-align: center;
    flex-direction: column;
    transition: all 0.3s ease-in-out;
}

.card__content__buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    gap: 1rem;
}

.card__title {
    font-weight: 400;
    font-size: 1.5rem;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .card-box {
        width: 100%;
        border: none;
    }
    .card__title {
        font-size: 1.2rem;
    }
    .box__shadow {
        box-shadow: none;
    }
    
    .card__menu {
        flex-direction: row;
        justify-content:space-around;
    }
    .card__content__buttons {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
